# Copy these names into GitHub Actions Secrets.
# NEVER commit real values.

B2_KEY_ID=
B2_APPLICATION_KEY=
B2_BUCKET_NAME=Education-Dept-Files
B2_S3_ENDPOINT=

GOOGLE_DRIVE_FOLDER_ID=11o-qvIo-C5UW6yr5hDScrWQ4uOHIw6Pk
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
